
.album-cover {
    height: 128px;
    width: 128px;
    background-color: #111;
    background-image: url('https://loremflickr.com/256/256');
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
}

.album-cover .overlay {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(0,0,0,0.8855917366946778) 0%, rgba(0,0,0,0) 60%);
}

