body {
    font-family: Roboto, sans-serif;
    margin: 16px;
    border: 1px solid #e3e3e3;
}

.weekly-item {
    background-color: #fcfcfc;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #efefef;
    align-items: center;
}

.number {
    font-size: 22px;
    color: #4a90e2;
    padding: 0px 16px;
}

.info {
    flex-grow: 1;
}

.song-title {
    font-size: 13.5px;
    margin-bottom: 6px;
    color: #444;
    font-weight: bold;
}

.singer {
    font-size: 12px;
    color: #AAA;
    font-weight: 540;
}

.view-count {
    font-size: 12px;
    color: #555;
}